*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--color-blue-accent: rgb(13, 178, 243);
}

body {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3em;
}

header {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--color-blue-accent);
}

header h1,
header h2 {
	text-align: center;
	width: 100%;
}

.intro {
	text-align: center;
	width: 60%;
}

.assignments {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
}

.assignments-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2em;
	margin-top: 1em;
	justify-content: center;
	align-items: center;
}

.assignment-card {
	width: 30ch;
	height: 30ch;
	position: relative;
	border: solid black 0.3em;
	overflow: hidden;
}

.assignment-card:hover {
	cursor: pointer;
	border: solid var(--color-blue-accent) 0.3em;
	transition: all 0.1s ease-in-out;
}

.assignment-card:hover .card-heading {
	font-size: 2.4em;
}

.card-heading {
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	color: black;
	text-align: center;
}

.assignment-card img {
	width: 120%;
	height: 120%;
	filter: blur(3px);
	-webkit-filter: blur(3px);
	background-color: black;
	opacity: 0.5;
}

.group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	gap: 1em;
	margin-bottom: 1em;
}

.member-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	justify-content: center;
	align-items: center;
}

.member-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50ch;
}

.documentation {
	margin-bottom: 2em;
}
